.ProjectDetail .title {
  font-family: Raleway;
  font-size: 46px;
  line-height: 52px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  text-align: left;
}
